#### Iterators in Python

    Lists, Tulpes, Strings

In [5]:
li = [1, 2, 3, 4, 5, 6]

type(li)
it = iter(li)
type(it)
next(it)
next(it)

2

#### Generators in Python

In [6]:
li = [i for i in range(1,10)]

li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
li = [i**2 for i in range(1,10)]

li

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
li = [i**2 for i in range(1,10)]

sum(li)

285

In [10]:
li = [i**2 for i in range(1,10)]

li
gn = (i**2 for i in range(1,10))

for i in gn:
    print(i,end = ' ')

1 4 9 16 25 36 49 64 81